@import "../utils/variables";

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: $color-gray-light;
  color: $color-gray-dark;
  font-size: 1.5rem;
  font-family: 'Gotham';
}

.footer-to-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}