//colors
$color-gray: #909090;
$color-gray-darker: #434343;
$color-gray-label: #565656;
$color-gray-dark: #666666;
$color-gray-light: #bbbbbb;
$color-gray-lighter: #c5c5c5;
$color-purple: #8e36b7;
$color-red: #ed1c24;

//shadows
$gray-light-shadow: rgba(219,219,219, .25);